html { scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;

}

a {
  text-align: center;
  text-decoration: none;
  color: inherit;

}

nav {
  color: #fff;
  transition: 0.2s;
  z-index: 1000;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;

}

nav ul, #drawer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav li {
  float: left;
  text-align: center;

}

nav a, #drawer a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4em;
  display: block;
  overflow: hidden;
  padding: 0.7em 1em;
  margin: 0;
  white-space: nowrap;
  transition: 0.2s;

}

nav #menubutton {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  display: none;

}
nav #menubutton .fa-arrow-right { color: #999; }
nav #menubutton .fa-arrow-right:hover { color: #555; }

nav .links {float: right;}

a i { transition: 0.2s; }

nav a:hover, #drawer a:hover, a:hover i { color: #555; }

#drawer {
  display: none;
  background-color: #1D2228;
  width: 100%;
	height: 100vh;
  color: #999;
  position: fixed;
  right: -100%;
  z-index: 999;
  transition: 0.2s;

}

#drawer .pages { margin-top: 50px; }

#drawer .pages li {
  width: 50%;
  margin: 0 25%;

}

#drawer .links {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10%;

}

#drawer .links a { display: inline-block; }

.section {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 20px 20px 0;

}

#banner {
  scroll-snap-align: start;
  color: #fff;
  text-align: center;
  /*background: rgb(125,182,201);
  background: linear-gradient(146deg, rgba(125,182,201,1) 0%, rgba(55,209,158,1) 100%);
  */
  background-image: url('../res/banner.png');
  background-repeat: tile;

}

#banner h1 {
  margin-top: 30vh;
  margin-bottom: 3vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4em;

}

#banner #subheader {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  width: 60%;
  margin: 0 20%;
  white-space: nowrap;

}

#banner #subheader div:nth-child(odd) { width: 3.5em; }
#banner #subheader div:nth-child(even) { width: 1em; }

#banner #subheader div {
  display: inline-block;
  text-align: center;
  overflow: hidden;

}

#aboutme { scroll-snap-align: start; }
#projects { scroll-snap-align: start; }

#contacts {
  scroll-snap-align: start;
  color: #fff;
  background-color: #1D2228;

}

#contacts a {color: #999;}

#contacts a:hover, #footer a:hover .icon {
  color: #fff;

}

#contacts p {
  position: absolute;
  bottom: 10%;
  font-size: 0.8em;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

}

@media only screen and (max-width: 750px) {
  #banner h1 { font-size: 3em; }
  #banner #subheader {
    width: 100%;
    margin: 0;
    font-size: 1.5em;

  }

}

@media only screen and (max-width: 620px) {
  html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;

  }

  nav {
    top: 0;
    background-color: transparent;

  }
  nav ul { display: none; }
  nav #menubutton { display: block; }

  #drawer { display: block; }

}
