body {
  margin: 0;
  background-color: #fff;
  height: 100vh;
  overflow: hidden;

}

a {
  text-align: center;
  text-decoration: none;
  color: inherit;

}

nav {
  background-color: #1D2228;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

}

nav ul, #drawer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav li {
  float: left;
  text-align: center;

}

nav a, #drawer a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  display: block;
  overflow: hidden;
  padding: 0.7em 1em;
  margin: 0;
  color: #ccc;
  white-space: nowrap;
  transition: 0.2s;

}

nav #menubutton {
  float: right;
  display: none;

}

nav #links {float: right;}

nav a:hover, #drawer a:hover, a:hover .icon { color: #fff; }

#drawer {
  display: none;
  background-color: #1D2228;
  width: 100%;
	height: calc(100vh - 49.375px);
  color: #fff;
  position: absolute;
  right: -100%;
  z-index: 1000;
  transition: 0.2s;

}

#drawer #pages li {
  width: 50%;
  margin: 0 25%;

}

#drawer #links {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5%;

}

#drawer #links a { display: inline-block; }

#scrolldiv {
  scroll-behavior: smooth;
	margin-top: 49.375px;
	height: calc(100vh - 49.375px);
	overflow-y: scroll;
  overflow-x: hidden;

}

.section {
  margin: 0;
  padding: 20px;

}

#content {
  height: 150vh;

}

#footer {
  color: #fff;
  background-color: #1D2228;
  padding-bottom: 60px;

}

#footer a {color: #999;}

#footer a:hover, a:hover .icon {
  color: #fff;

}

p {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
  text-align: center;

}

@media only screen and (max-width: 550px) {
  nav ul {
    display: none;

  }

  nav #menubutton {
    display: block;

  }

  #drawer { display: block; }

}
